<app-header></app-header>
<div class="d-flex p-1">  
    <div class="p-5">
        <!-- <table mat-table [dataSource]="users" class="mat-elevation-z8">

            <!-- <h1> Welcome {{fullName}}</h1></div></div> -->
            <!-- <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef> User Name </th>
                <td mat-cell *matCellDef="let users"> {{users.fullName}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let users"> {{users.email}} </td>
            </ng-container> -->
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                </tr>
                <tr *ngFor="let user of users">
                    <td scope="row">{{user.fullName}}</td>
                    <td scope="row">{{user.email}}</td>
                    
                </tr>
        <!-- </table> -->
    </div>
</div>
<app-footer></app-footer>