<app-header></app-header>
<!-- <div class="d-flex p-1">  
    <div class="p-5"> -->
        <table mat-table [dataSource]="users" class="mat-elevation-z8">

            <h1> Welcome {{fullName}}</h1>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> User Name </th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                <td type="button">ashwin</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="update">
                <th mat-header-cell  *matHeaderCellDef > Update </th>
                <td mat-cell *matCellDef="let row" >
                  <button matTooltipPosition="right" matTooltip="Click to edit" mat-raised-button>Edit</button>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell  *matHeaderCellDef > Delete </th>
                <td mat-cell *matCellDef="let element">
                  <button id="delete" mat-icon-button matTooltipPosition="right" matTooltip="Click to delete" (click)="openDialog(element._id)"><mat-icon>delete</mat-icon></button>
                  
                </td>
              </ng-container>
            <!-- <ng-container matColumnDef="update">
                <mat-header-cell  *matHeaderCellDef > Update </mat-header-cell>
                <mat-cell *matCellDef="let row" >
                     <button mat-button >Edit</button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell  *matHeaderCellDef > Delete </mat-header-cell>
                <mat-cell *matCellDef="let row" >
                        <button mat-button >Delete</button>
                </mat-cell>
            </ng-container> -->
                <!-- <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                </tr>
                <tr *ngFor="let user of users">
                    <td scope="row">{{user.fullName}}</td>
                    <td scope="row">{{user.email}}</td>
                    
                </tr> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    <!-- </div>
</div> -->
<app-footer></app-footer>