<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="inactive underlineHover">Sign In</h2>
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

            <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email" required >

            <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="password"
        >

            <input type="submit" style="margin-bottom: 20px;" value="Sign In">
        </form>
        <p>Not Registered yet?</p>
        <a style="color:rgb(31, 31, 23)" [routerLink]="['/signup']">Click to Signup!!</a>

        <div class="success" *ngIf="showSuccessMessage">
            Saved Successfully!!
        </div>

        <div class="alert" *ngIf="serverErrorMessages">
            {{ serverErrorMessages }}
        </div>
    </div>
</div>